@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'Inter-400';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/assets/fonts/Inter_400-Regular.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-500';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('/assets/fonts/Inter_500-Medium.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-600';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url('/assets/fonts/Inter_600-SemiBold.ttf') format('truetype');
  }

  @font-face {
    font-family: 'Inter-700';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/assets/fonts/Inter_700-Bold.ttf') format('truetype');
  }
}

@layer base {
  body {
    font-family: 'Inter-600', sans-serif;
    font-size: 12px;
    font-weight: 600;
    line-height: 1.25;
    letter-spacing: 0;

    color: theme('colors.mainPrimaryText');
    background-color: theme('colors.mainBackground');
    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  img {
    object-fit: cover;
  }
}

.svg-style {
  svg g {
    g:nth-child(6) {
      g {
        path {
          fill: rgb(193, 35, 67) !important;
        }
      }
    }

    g:nth-child(8) {
      g {
        path {
          fill: white !important;
        }
      }
    }
  }
}

/* InputNextUi.module.css */
.inputWrapper {
  height: fit-contentfit;
  min-height: fit-content;
  padding: 0;
  background-color: inherit;
  border: 2px solid theme('colors.customBlack.100');
  border-radius: theme('borderRadius.lg'); /* rounded-lg */
  transition: all 0.3s;
}

.inputWrapper:hover {
  background-color: transparent;
}

.inputWrapper:focus-within {
  background-color: transparent;
  border-color: theme('colors.customBlue.100');
  box-shadow: transparent;
  ring-offset: transparent;
}

.inputWrapper.invalid {
  background-color: transparent !important;
}

.input {
  padding: 18px 6px;
  color: theme('colors.mainPrimaryText');
  transition: all 0.3s;
}

.input::placeholder {
  color: theme('colors.customGrey.200');
}

.input.success {
  border-color: theme('colors.success');
}

.input.danger {
  border-color: theme('colors.danger');
  color: theme('colors.danger');
}

.input.danger::placeholder {
  color: theme('colors.danger');
}
